body {
    font-family: $defaultFont, sans-serif;
    font-size: 16px;
}



@font-face {
    font-family: 'Questa';
    font-style: normal;
    font-weight: normal;
    src: local('Questa'),
         url('/fonts/2-Questa_Regular.otf') format('otf'),
         url('/fonts/2-Questa_Regular.woff') format('woff');
}

@font-face {
    font-family: 'Sinkin Sans';
    font-style: normal;
    font-weight: normal;
    src: // local('Sinkin Sans'),
        url('/fonts/sinkinsans-400regular-webfont.woff2') format('woff2'),
        url('/fonts/sinkinsans-400regular-webfont.woff') format('woff'),
        url('/fonts/SinkinSans-400Regular.otf') format('otf');
}
@font-face {
    font-family: 'Sinkin Sans';
    font-style: normal;
    font-weight: 800;
    src: // local('Sinkin Sans'),
        url('sinkinsans-800black-webfont.woff2') format('woff2'),
        url('sinkinsans-800black-webfont.woff') format('woff'),
        url('/fonts/SinkinSans-800Black.otf') format('otf');
}