$yellow: #faec16;
$green: #4dbb86;
$black: #111;
$pink: #f6b0c1;
$red: #ef5327;
$blue: #2278EB;
$white: #fff;
$dark-grey: #777;
$grey: #ccc;
$light-grey: #f5f5f5;

$textColor: $black;
$accentColor: #C60D2E;
$primaryColor: $blue;
$failureColor: $red;
$successColor: #5bff6f;

$defaultFont: "Sinkin Sans";
$accentFont: Questa, helvetica, sans-serif;

$transitionDefault: .64s ease all;
$transitionFast: .12s all linear;